.MainChat
  .MainChat__groupInfo
    .MainChat__groupInfo__infoLeftbox
      .MainChat__groupInfo__infoLeftbox__currentGroupName
        = @group.name
      .MainChat__groupInfo__infoLeftbox__memberList
        - @group.users.each do |user|
          = user.name
    .MainChat__groupInfo__editLink
      = link_to edit_group_path(@group) do
        Edit

  .MainChat__messageList
    = render partial: 'message', collection: @messages 
  
  .MainChat__messageForm
    = form_with model: [@group, @message], html: {class: "MainChat__messageForm__form"}, local: true do |f|
      .MainChat__messageForm__form__contents
        = f.text_field :content, class: "MainChat__messageForm__form__contents__text", placeholder: "type a message"
        = f.label :image,class: "MainChat__messageForm__form__contents__icon" do
          = icon('far', 'image')
          = f.file_field :image, class: "MainChat__messageForm__form__contents__icon__hidden"
      = f.submit 'Send',class: "MainChat__messageForm__form__submit"